[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
aiogram-metrics = "*"
betterlogging = "*"
sentry-sdk = "==1.1.0"

[dev-packages]

[requires]
python_version = "3.9"
